
@media only screen and (max-width: 1240px) {
	.mainwidth{ width:auto;}

	.indlinkslide .prev{ left:0;}
	.indlinkslide .next{ right:0;}
}
@media only screen and (max-width: 1170px){
	.indbanner{ height:auto;}
	body .indimgnews{
		float:none;
		margin:0 auto 22px;
		max-width:770px;
		width:100%;
	}
	.indnewslist{
		float:none;
		margin:0 auto;
		max-width:770px;
		width:100%;
	}
}


@media only screen and (max-width: 1200px) {
	.header_wrap{ height:70px;}
	.header_wrap .logo img{ height:70px;}
	.navigation .desktop .t{
		padding:0 25px;
		height:66px;
		line-height:66px;
	}
	.navigation .desktop .secnav{ top:105px;}
	.secnav .secnav_in{ margin:0 auto; width:631px;}
	.secnav .img{ display:none;}


	.cont_side{ display:none;}
	.cont_main{
		float:none;
		font-weight:normal;
		width:auto;
	}
	.head_right{ margin-left:30px;}
	.user_header_wrap .navigation .desktop .t{
		padding:0 10px;
		font-size:14px;
	}
	.cont_side_2{
		display:none;
		float:none;
		width:auto;
	}
	.cont_main_2{
		float:none;
		width:auto;
	}
	.user_index .cont_side_2{ display:block;}
	.cont_side_2 .list_1{
		overflow:hidden; zoom:1;
	}
	.cont_side_2 .list_1 li{
		float:left;
		padding-right:5%;
		width:45%;
	}

	.footer_2 .item_1{ width:260px;}
	.footer_2 .item_2{ padding-left:20px; width:200px;}
	.footer_2 .item_3{ padding-left:20px;}
}

@media only screen and (min-width: 960px) and (max-width: 1200px) {
	body{ font-size:14px;}

}

@media only screen and (max-width: 959px) {
	body{ padding-top:60px; background-color:#fff; line-height:1.5;}
	.mainwidth{ padding:0 10px;}
	.mainwidth_2{ width:auto;}
	.indexbody{ background-color:#f5f5f5;}
	.newstudents_body{}
	.header_bar{ display:none;}
	.header_wrap, .user_header_wrap{
		height: 60px;
		left: 0;
		position: fixed;
		top: 0;
		transition-delay: 0s;
		transition-duration: 0.3s;
		transition-property: background-color;
		transition-timing-function: linear;
		width: 100%;
		z-index: 500;
	}
	.view_wrap{}
	.view_wrap .back{ display:block;}
	.view_wrap .logo{ display:none;}
	.view_wrap .menu-button{ display:none;}
	.header_wrap .logo img, .user_header_wrap .logo img{ height:65px;}
	.navigation{ float:none;}
	.navigation li{ float:none;}
	
	
    /*.logo .logo_1 {
        display:none;
    }
    .logo .logo_2 {
        display:block;
    }*/

	.menu-button {
		width: 30px;
		height: 20px;
		padding: 20px 15px;
		float: right;
		cursor: pointer;
	}
	.menu-button-line {
		background-color: #fff;
		height: 4px;
		width: 30px;
		margin-top: 5px;
		transition: all 0.2s linear;
		-webkit-transition: all 0.2s linear;
		position: relative;
		-webkit-border-radius:2px;
		-moz-border-radius:2px;
		border-radius:2px;
	}
	.mobile-scrolled .menu-button-line {
	}
	.menu-button-line1 {
		margin-top: 0;
	}
	.navigation {
		position:absolute;
		right:0;
		top:0;
		-webkit-transform:translate(100%,0);
		-moz-transform:translate(100%,0);
		transform:translate(100%,0);

		-webkit-transition:all .5s ease;
		-moz-transition:all .5s ease;
		transition:all .5s ease;
	}
	.open-menu .navigation{
		-webkit-transform:translate(0,0);
		-moz-transform:translate(0,0);
		transform:translate(0,0);
	}
	.open-menu .nav_overlay{ display:block;}

	.navigation .menu-button{
		float:left;
		background-color:#343434;
	}
	.navigation .menu-button-line{
		background-color:#fff;
	}
	.navigation .nav{
		float:left;
		padding:20px 30px;
		width:180px;
		background-color:#343434;
	}
	.navigation li a{
		color:#fff;
	}
	.navigation li.mobile{
		margin-bottom:10px;
	}
	.navigation li .t{
		font-size:16px;
		color:#b0b5b5;
		font-weight:bold;
	}
	.navigation li .secnav{
		display:none;
	}
	.navigation li .secnav .img{ display:none;}
	.navigation li .secnav .textbox{ display:none;}
	.navigation li ul{ /*margin-left:20px; margin-top:10px;*/}
	.navigation li li{}
	.navigation li li a{ color:#aaa;}


	.navigation li.cur .t{ color:#fff;}
	.navigation li.cur .secnav{
		display:block;
	}

	.secnav .secnav_in{
		padding-top:0px;
		padding-bottom:0px;
	}
	.secnav ul{
		float:none;
		padding:10px 0 0;
		width:auto;
	}
	.secnav ul li{ float:none; width:auto;}
	.nav .other{
		margin-top:10px;
		padding-top:10px;
		border-top:1px solid #999;
	}
	.nav .mobile_more .t{ font-size:14px;}


	/*.open-menu .menu-button-line1 {
		transform: rotate(45deg) translate3d(4px, 6px, 0);
		-webkit-transform: rotate(45deg) translate3d(4px, 6px, 0);
		background-color: #262626;
	}
	.open-menu .menu-button-line2 {
		opacity: 0;
		filter: alpha(opacity=0);
	}
	.open-menu .menu-button-line3 {
		transform: rotate(-45deg) translate3d(4px, -6px, 0);
		-webkit-transform: rotate(-45deg) translate3d(4px, -6px, 0);
		background-color: #262626;
	}
	.open-menu .header_wrap {
		height: 100%;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		background-color: #fff;
	}*/
	.head_right{ display:none;}




	.sidebar{ display:none;}

	.detail_page{ padding:0;}
	
	.detail_title .rightbtn{
		position:relative;
		right:auto;
		top:auto;
		text-align:center;
	}
	.detail_title .back{
		display:inline-block;
	}
	.detail_title .info .author{ display:none;}
	.detail_title .info .num{ display:none;}
	.page_main{ padding:10px 0;}

	.customtab_title .item{ margin-left:0px; padding:0 15px; font-size:16px;}
	.customtab_show .tab_text{ padding-left:0px; padding-right:0px;}

	#colorbox{
		top:5% !important;
		margin-left:2%;
		max-width:96%;
		min-height:90%;
	}
	div#cboxWrapper{ max-width:100%; min-height:100%;}
	#cboxWrapper{ max-width:100%; min-height:100%;}
	#cboxContent{ max-width:100%; min-height:100%;}
	#cboxLoadedContent{
		max-width:100%;
		min-height:100%;
		-webkit-overflow-scrolling: touch;
	}

	.pop_body{ width:auto; padding:10px;}
	.customlink_list{ margin-bottom:0px; width:auto;}

	.customlink_list li{
		margin:0 5% 20px;
		width:40%;
	}
	.customlink_list a{
		width:auto;
	}
	.lecturehall_list{
		max-width:100%;
		width:390px;
		margin:0 auto;
	}
	.lecturehall_list li{
		margin-left:0px;
		width:100%;
	}
	.lecturehall_list li img{	
		width:100%;
		height:auto;
	}
	.newstudents .imglist_1{ margin-left:0px;}
	.newstudents .imglist_1 li{
		float:none;
		display:block;
		margin:0 auto 30px;
		max-width:100%;
	}
	.imglist_1 img{
		width:100%;
		height:auto;
	}

	.meetstudents{ margin-left:0px;}
	.meetstudents .item{
		float:none;
		display:block;
		margin:0 auto 30px;
		max-width:90%;
		padding:20px 5%;
	}

	.introlist_1{ margin-left:0px;}
	.introlist_1 .item{
		float:none;
		display:block;
		margin:0 auto 30px;
		max-width:100%;
	}

	ul.linklogo li{
		margin-left:5px;
	}


	.imgbox_1 .t{
		padding-bottom:10px;
		height:auto;
		line-height:1.2;
		font-size:14px;
	}
	
	.table_2 th, .table_2 td{ padding:5px 5px;}


	.footer{ padding:20px 0;}
	.footer_1{
		display:none;
		background:none;
	}
	.footer_1 li{ background-color:#0e817b;}
	.footer_1 li a{}
	.footer_2{ display:none;}
	.footer_2 .item_1{
		padding-right:10%;
		width:40%;
	}
	.footer_2 .item_2{
		padding-left:10%;
		width:40%;
		border:none;
	}
	.footer_2 .item_3{ display:none;}
	.footer_3 .address{ display:none;}



	

	/* header */
	.desktop {
		display: none !important;
	}
	
}

@media only screen and (max-width: 800px){
	.indimgnews .img{ width:60%;}
	.indimgnews .img img{ width:100%; height:auto;}
	.indimgnews .textbox{ padding:10px 3%; width:34%;}
	.indimgnews .prev{
		left:60%;
		margin-left:-60px;
	}
	.indimgnews .next{
		left:auto;
		right:40%;
		margin-right:-60px;
	}
	.indimgnews .title{
		padding-bottom:20px;
		height:auto;
	}

	.indnewslist{ height:auto;}
}

@media only screen and (max-width: 767px){
	.indimgnews .img{ float:none; width:auto;}
	.indimgnews .textbox{ float:none; width:auto;}
	.indimgnews .prev, .indimgnews .next{ display:none;}
	.indimgnews .date{
		float:left;
		padding:5px;
		width:50px;
		height:50px;
		border-width:3px;
	}
	.indimgnews .date .day{ margin-bottom:3px; font-size:32px;}
	.indimgnews .date .month{ font-size:12px;}
	.indimgnews .title{
		padding:0 0 0 20px;
		height:58px;
		font-size:16px;
	}

	.indimgnews .more{ display:none;}
	.indimgnews .ctrl{ display:block;}

	.indlinkslide .prev, .indlinkslide .next{ display:none;}
	.indlinkslide{
	}
	.indlinkslide .swiper-wrapper{
		overflow:hidden; zoom:1;
		margin:0 auto;
		max-width:400px;
		width:100%;
	}
	.indlinkslide .swiper-slide{
		width:50%;
	}
	.indlinkslide .swiper-slide a{
		width:100%;
	}
	.indlinkslide .swiper-slide .img{
		padding:0 30%;
	}
	.indlinkslide .swiper-slide .img img{ width:100%;height:auto;}
	
	.indsearch{
	    margin: 0 auto;
        padding: 90px 0 70px;
        width: 700px;
        max-width: 100%;
	}
	.searchtab_tit{
		padding:5px 5px 0;
		background-color:#348885;
	}
	/*.searchtab_tit a{
		float:none;
		display:none;
		width:auto;
		height:50px;
		line-height:50px;
	}
	.searchtab_tit a.active{
		display:block;
	}*/
	.searchtab_tit a{ display:none;}
	.searchtab_tit .selectbox{ display:block; padding-right:10px;}

	.stylish-select body .newListSelected{
		float:none;
		display:block;
		width:auto;
	}
	.stylish-select .indsearch .newListSelected{
		margin-bottom:5px;
	}
	.indsearch .selectbox{
		float:none;
		display:block;
		padding-right:15px;
		width:auto;
	}
	.searchtab_show .selectbox{
		margin-bottom:5px;
	}
	.indsearch .selectbox .select{
		width:100%;
	}
	.searchtab_show{
        position: relative;
        padding: 5px;
        background-color: #348885;
        height: 50px;
	}
	.searchtab_show .tab_text{}
	.searchtab_show .inputbox{
	    overflow: hidden;
        zoom: 1;
        padding: 0 120px 0 0;
        height: 50px;
        background-color: #fff;
        border-left: 1px solid #f7f7f7;
        position: relative;
	}
	.searchtab_show .input::-webkit-input-placeholder{font-size:15px;}

	.searchtab_show .inputbox .delico{right:120px;}

	.searchtab_show .submit{
		margin-right:-100px;
		width:100px;
		background-position:38px -140px;
	}




	.page_title .search{ display:none;}

	.newslist li{ padding:10px 0;}
	.newslist .img{ margin-right:10px; width:120px;}
	.newslist .img img{}
	.newslist .date{
		display:none;
	}
	.newslist .date_mobile{
		display:block;
	}
	.newslist .textbox{ padding-right:0px;}
	.newslist .text{ display:none;}
	.newslist .title{ font-size:16px;}
	
	.login_page{ height:auto;}
	.login_cont{	
		float:none;
		margin:50px auto;
		max-width:95%;
	}
	.loginbox .remember{
		float:none;
		display:block;
	}
	.loginbox .forget{
		float:none;
		display:block;
	}
	.formlist li{ padding-left:108px;}
	.formlist .label{ margin-left:-108px; width:100px;}
	.formlist .input_file{ width:180px;}

	.formbox_1{ width:100%;}
	.formbox_1  .textbox{ padding:0 11px;}
	.formbox_1  .textarea{ margin-left:-11px; width:100%;}


	.messagelist .num{ display:none;}
	.messagelist .date{}
	.messagelist .author{ display:none;}
	.messagelist .title{
		padding:0 10px 0 10px;
	}
	
	.detail_title .rightbtn .back{display:none;}



	.page_foot_2{ padding:10px;}
	.redirection{ display:none;}
	.paginal a{}
	.paginal .prev a, .paginal .next a{
		width:40px;
	}

	.table_1 th, .table_1 td{
		padding:5px 5px;
	}

	.database{ float:none; width:auto;}

}
@media only screen and (max-width: 380px){
	ul.linklogo li{
		margin:0 2%;
		width:46%;
	}
	ul.linklogo img{
		width:100%;
		height:auto;
	}
}

@media only screen and (min-width: 768px) {
	.indlinkslide .swiper-slide:hover a{
		position:relative;
		z-index:99;
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		transform: scale(1.05);
	}
	.indlinkslide .swiper-slide-visible:nth-child(2) a{
		-webkit-transform-origin:0% 50%;
		-moz-transform-origin:0% 50%;
		-ms-transform-origin:0% 50%; 
		-o-transform-origin:0% 50%;
		transform-origin:0% 50%;
	}
	.indlinkslide .swiper-slide-visible:nth-child(7) a{
		-webkit-transform-origin:100% 50%;
		-moz-transform-origin:100% 50%;
		-ms-transform-origin:100% 50%; 
		-o-transform-origin:100% 50%;
		transform-origin:100% 50%;
	}
}
@media only screen and (min-width: 960px){
	.mobile {
		display: none !important;
	}
	
}


@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1280px) {

    


}
@media only screen and (min-width: 1400px) {
   
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {


}
@media only screen and (min-width: 960px) {
   
}
@media only screen and (min-width: 1120px) {
   
}
@media only screen and (min-width: 1440px) {
    
}
@media only screen and (min-width: 1600px) {
    
}
@media only screen and (min-width: 1760px) {
    
}
@media only screen and (min-width: 1920px) {
    
}
@media only screen and (min-width: 2080px) {
    
}
@media only screen and (min-width: 1185px) {
    
}







