{% extends 'base.html' %}
{% block head %}
<meta charset="UTF-8">
    <title>南方科技大学导师预约系统</title>
{% endblock %}
{% block content %}
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="center item active" style="margin:auto; width: 640px ">
            <img src="{{ url_for('static',filename ='picture/background1.jpg') }}" width="640" height="427"  >
        </div>
        <div class="item" style="margin:auto; width: 640px ">
            <img src="{{ url_for('static',filename ='picture/background2.jpg') }}" width="640" height="427" >
        </div>...
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
{% endblock %}

