{% extends 'base.html' %}
{% block head %}
    <meta charset="UTF-8">
    <title>用户登录</title>
{% endblock %}

{% block content %}
<nav class="navbar navbar-child navbar-fixed" >
    <div class="container" id="c">
        <ul class="nav navbar-nav navbar-left">
            <li><a href="#">个人信息</a></li>
            <li><a href="#">日程设置</a></li>
        </ul>
    </div>
</nav>
<div class="panel panel-info">
    <div class="panel-heading">日程表</div>
    <div class="panel-body" style="background-color:  #FFF; padding-top: 20px;">
    <table border="1px" class="table table-bordered">
        <tr>
		<td>创建日期</td>
        <td>学生姓名</td>
        <td>教授姓名</td>
        <td>时间段</td>
        <td>设置</td>
        </tr>
        {% for i in appointment %}
            <tr>
                <td>{{ i.appointment_creat_time }}</td>
                <td>{{ i.student_name}}</td>
                <td>{{ prof_name  }}</td>
                <td>{{ i.start_time }} - {{ i.end_time }}</td>
                {% if prof %}
                <td><input  name="trrz.html" type="button" class="btn btn-success"
                        id="trrz.html" value="取消" onclick="window.location.href='{{ url_for('prof_cancel', id=i.appointment_id) }}'"/></td>
                {% endif %}
            </tr>
        {% endfor %}

    </table>
    </div>
</div>
{% endblock %}
